@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WEB_053502_Raniuk.Entities.Film

<div class="card m-2 p-1 col-4">
    <img src="~/Images/@Model.Image"
         alt='NoImage'
         class="card-img" />
    <div class="card-body">
        <h5 class="card-title">
            @Model.Name
        </h5>
        <p class="card-text">
            @Model.Duration
        </p>
        <div class="card-subtitle badge">
            <h4> @Model.Description </h4>
        </div>

        @{ 
            var request = ViewContext.HttpContext.Request;
            var returnUrl = request.Path + request.QueryString.ToUriComponent();
        }
        <div>
            <a asp-action="Add"
               asp-controller="Cart"
               asp-route-id="@Model.Id"
               asp-route-returnUrl="@returnUrl"
               class="btn btn-primary">
                <i class="fa fa-shopping-cart"></i> В корзину
            </a>
            </div>
    </div>
</div>
